.skid {
  width: 100%;
  overflow: hidden;
}

.skid > .slides {
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: 1s;
}

.skid > .slides > li {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  white-space: normal;
}

.skid.drag > .slides {
  cursor: -webkit-grab;
  cursor: grab;
}

.skid.drag > .slides img {
  -webkit-user-drag: none;
}

.skid.dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.skid.dragging > .slides {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  transition: none;
}
