.skid {
  overflow: hidden;
  width: 100%;
  backface-visibility: hidden; // Improve browser rendering bugs
  > .slides {
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    cursor: grab;
    transition: 1s;
    > li {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      white-space: normal;
    }
    img {
      -webkit-user-drag: none;
    }
  }
  &.panning {
    user-select: none;
    > .slides {
      cursor: grabbing;
      transition: none;
    }
  }
}
