.skid {
  width: 100%;
  overflow: hidden;
  & > .slides {
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    backface-visibility: hidden;
    transition: 1s;
    & > li {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      white-space: normal;
    }
  }
  &.drag > .slides {
    cursor: -webkit-grab;
    cursor: grab;
    & img {
      -webkit-user-drag: none;
    }
  }
  &.dragging {
    user-select: none;
    & > .slides {
      cursor: -webkit-grabbing;
      cursor: grabbing;
      transition: none;
    }
  }
}
